*{
    /*background-color: gainsboro;*/
}
.panel {
    /*padding: 15px;*/
    margin-bottom: 20px;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
}
/*Search box*/
.header-search-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    display: inline-block;
    position: relative;
}
.header-search-wrapper i {
    position: absolute;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height:32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}
input.header-search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    width: 100%;
    background: rgba(166,166,166,0.3);
    height: 40px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
}
.header-search-input::-webkit-input-placeholder
{
    color:#1b1b1b;
    font-size:16px;
    font-weight:400
}
.header-search-input::-moz-placeholder
{
    color:#1b1b1b;
    font-size:16px;
    font-weight:400
}
.header-search-input:-ms-input-placeholder
{
    color:#1b1b1b;
    font-size:16px;
    font-weight:400
}

input.header-search-input:hover {
    background: rgba(140,140,140,0.3);
}

input.header-search-input:focus {
    color:rgba(120,120,120,0.3);
    background: #fff;
}
input.header-search-input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.header-search-wrapper-focus  i {
    color:#444 ;
}
.header-search-input:focus::-webkit-input-placeholder
{
    color:rgba(120,120,120,0.3);
    font-size:16px;
    font-weight:400
}
.header-search-input:focus::-moz-placeholder
{
    color:#ffffff;
    font-size:16px;
    font-weight:400
}
.header-search-input:focus:-ms-input-placeholder
{
    color:#ffffff;
    font-size:16px;
    font-weight:400
}
.header-search-input:focus::placeholder
{
    color: #ffffff;
    font-size:16px;
    font-weight:400
}