/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top:50px;
}


@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}
@media(max-width: 1250px){
    .nav-text-hidable {
        display: none;
    }
}


.huge {
    font-size: 50px;
    line-height: normal;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}


/* notification css */



.glyphicon-bell {

    font-size:1.5rem;
}

.notifications {
    min-width:420px;
}

.notifications-wrapper {
    overflow:auto;
    max-height:250px;
}

.menu-title {
    color:#27918b;
    font-size:15px;
    display:inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;
}


.notification-heading, .notification-footer  {
    padding:2px 10px;
}


.dropdown-menu.divider {
    margin:5px 0;
}

.item-title {

    font-size:1.3rem;
    color:#000;

}
.notifications a.content {
    margin-left: 0;
    text-decoration:none;
    background:#ccc;

}

.notification-item-green{
    padding:10px;
    margin:5px;
    background:#F0FFFF;
    border-radius:4px;
}
.notification-item-yellow{
    padding:10px;
    margin:5px;
    background:#FFF8DC;
    border-radius:4px;
}
.notification-item-pink{
    padding:10px;
    margin:5px;
    background:#FFE4E1;
    border-radius:4px;
}


    /*----------------------------------------------------------------------------------- */
    /*  List groups */
    /*----------------------------------------------------------------------------------- */
    .list-group .list-group-item.active, .list-group .list-group-item.active:hover, .list-group .list-group-item.active:focus {
        color: white;
        background-color: #32b9b1;
        border-color: #27918b; }
    .list-group .list-group-item.active .badge, .list-group .list-group-item.active:hover .badge, .list-group .list-group-item.active:focus .badge {
        color: #32b9b1;
        background-color: white; }

    a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
        background-color: #32b9b1;
        border-color: #32b9b1; }

    .info-panel{
        border: solid 2px #1abc9c;
        -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.175)
    }
    .info-panel> .panel-heading{
        color:#1abc9c;
        text-align: center;
        font-size: 18px;
        border-bottom: solid 2px;
        overflow:hidden;
    }
    #issueTable{
        font-family: arial-black;
        border:2px solid #1abc9c;
    }

    .content{
        margin-top:40px;
    }
    /*.no-gutter [class*="-2"] {*/
        /*padding-left: 0;*/
        /*padding-right: 0;*/
    /*}*/
/*MODIFIED TIMELINE*/
    .phaseline {
        position: relative;
        height: 80px;
        width: 90%;
        /*max-width: 800px;*/
        margin: 0 auto;
    }
    .phaseline-inner{
        position: relative;
        height: 100%;
        /*overflow: hidden;*/
    }
    .phaseline-inner::before, .phaseline-inner::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        height: 100%;
        width: 20px;
    }
    .phaseline-inner::before {
        left: 0;
        background-image: -webkit-linear-gradient( left , #ffffff, rgba(255, 255, 255, 0));
        background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
    }
    .phaseline-inner::after{
        right: 0;
        background-image: -webkit-linear-gradient( right ,  #ffffff, rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
    }
    .phases{
        position: absolute;
        z-index: 1;
        left: 0;
        top: 49px;
        height: 4px;
        background: #dfdfdf;
        width: 100%;
    }
    .phases a {
        position: absolute;
        bottom: 0;
        z-index: 2;
        transform: translateX(-50%);
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 20px;
        text-decoration: none;
        color: #383838;
        /*-webkit-transition: margin 0.5s ease-out;*/
        /*-moz-transition: margin 0.5s ease-out;*/
        /*-o-transition: margin 0.5s ease-out;*/
        transition: font-weight 0.1s linear;
        /*-webkit-transform: translateZ(0);*/
        /*-moz-transform: translateZ(0);*/
        /*-ms-transform: translateZ(0);*/
        /*-o-transform: translateZ(0);*/
        /*transform: translateZ(0);*/
    }

    .phases a::after {
        content: '';
        position: absolute;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -6px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 4px solid #dfdfdf;
        background-color: #FFFFFF;
        -webkit-transition: background-color 0.3s, border-color 0.3s, bottom 0.1s, height 0.1s, width 0.1s;
        -moz-transition: background-color 0.3s, border-color 0.3s,  bottom 0.1s, height 0.1s, width 0.1s;
        transition: background-color 0.3s, border-color 0.3s,  bottom 0.1s, height 0.1s, width 0.1s;
    }
    .phases a:hover{
        font-weight: 700;
    }
    .phases a:hover:after{
        bottom: -7px;
        height: 18px;
        width: 18px;
    }
    .phases, .phases a::after, .phases.filling-line   {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    }
    .phases a.selected{
        font-weight:700
    }
    .phases a.selected, .phases a.future, .phases a.disabled{
        pointer-events: none;
    }
    a.past::after {
        background-color: #1ABC9C;
        border-color: #1ABC9C;
    }
    a.current::after {
        /*background-color: #1ABC9C;*/
        border-color: #1ABC9C;
    }
    .filling-line {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #1ABC9C;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
    /*project dashboard*/
    .project-info{
        color:#27918b;
    }
    .customer-info{
        color:#8e44ad;
    }
    .pm-info{
        color:#34495e;
    }
    .project-panel{
        margin-top: 10px;
        border: 0 solid #020202;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
        border-radius: 0;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .project-panel:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .project-panel-heading{text-align:center;color:#ffffff}
    .project-panel>.panel-heading span {
        font-size: 15px;
    }
    .project-panel >.panel-heading {
        height:88px;
        font-size:18px;
        text-align: center;
        background: rgba(44,74,215,0.7);
        overflow:hidden;

    }


/*
    .past-panel{
        margin-top: 10px;
        border: 0 solid #020202;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 0;
    }
*/
    .past-panel >.panel-heading {
        background: #7f8c8d;
        color: #FFFFFF;
        height:72px;
        font-size:18px;

    }
    .clsDatePicker {
        z-index: 100;
    }

   .diy-nav{
       margin-left:30px;
       margin-right: 50px;
   }
   /*new project, edit project, and project dashboard*/
    .tag{
        border-radius: 4px;
        border: 1px black;
        padding: 2px 8px;
        background-color: #c5e5ed;
        margin-right: 3px;
        cursor:pointer;
        margin-top: 3px;
        display:inline-block
    }
    .tag:hover{background-color: #b7dfed;}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.fab-button{
    background-color:#F44336;
    width:60px;
    height:60px;
    border-radius:100%;
    border:none;
    outline:none;
    color:#FFF;
    font-size:24px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position:fixed;
    right:80px;
    bottom: 30px;
    z-index:3;
}
.fab-button:hover {
    transform:scale(1.1);
    transform:rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



