/* The main content */

.main-content {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 600px;
	padding-top: 40px;
	margin: 0 0 40px 210px;
}


/* The left sidebar */

.sidebar-left {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f5f5f5;
	width: 110px;
	height: 100%;
	padding: 20px 0;
    margin-top:15px;
}

.sidebar-left .sidebar-links {
	margin: 15px auto;
	height:95%
}
@media screen and (max-height: 550px){
	.nav-text{
		display:none;
	}
}

.sidebar-left .sidebar-links a {
	display: block;
	text-decoration: none;
	margin: 0 auto 2px auto;
	padding: 0 5px;
	line-height: 1;
	background-color: #f5f5f5;
	text-align: center;
	color:  darkgrey;
	font-size: 12px;
	font-weight: bold;
	border-left-width: 5px;
	border-left-style: solid;
	height:16.666666%;
}
.sidebar-left .sidebar-links a div{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.sidebar-left .sidebar-links a div i.fa {
	display: block;
	font-size: 35px;
	margin-bottom: 5px;
}

.sidebar-left .sidebar-links a.selected{
     background-color: #487db2 !important;
     border-color: #FFFFFF !important;
     color:  #FFFFFF  !important;
     font-size: 12px;
     font-weight: bold;
     cursor: default;
 }
.sidebar-left .sidebar-links a.selected i.fa{
    color:  #FFFFFF !important;
}
/* Link Colors */

.sidebar-left .sidebar-links a.link-blue {
	border-color: #487db2;
}
.sidebar-left .sidebar-links a.link-blue i.fa {
	color: #487db2;
}
/*
.sidebar-left .sidebar-links a.link-red {
	border-color: #da4545;
}
.sidebar-left .sidebar-links a.link-red i.fa {
	color: #da4545;
}

.sidebar-left .sidebar-links a.link-yellow {
	border-color: #d0d237;
}
.sidebar-left .sidebar-links a.link-yellow i.fa {
	color: #d0d237;
}

.sidebar-left .sidebar-links a.link-green {
	border-color: #86be2e;
}
.sidebar-left .sidebar-links a.link-green i.fa {
	color: #86be2e;
}
*/
.sidebar-left .sidebar-links a.link-grey {
	border-color: #808080;
}
.sidebar-left .sidebar-links a.link-grey i.fa {
	color: #808080;
}



/*	Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
	margin: 0;
	padding: 0;
}
.content{
    margin-left: 130px;
}
