
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    /* width: 10px; */
    border-left: dashed #cccccc 4px;
    left: 15px;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc( 100% - 45px );
    float: right;
    border: 2px solid #1abc9c;
    padding: 10px;
    position: relative;
    background-color:#FFFFFF;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);

}
.timeline > li > .timeline-panel:before {
    content: "";
    width: 0;
    height: 0;
    border: 1em solid transparent;
    position: absolute;
    left: -31px;
    top: 13px;
    border-right: 16px solid rgb(83, 199, 176);
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    left: -14px;
    display: inline-block;
}
.timeline > li > .timeline-panel> .timeline-heading {
    border-bottom: 1px solid #1abc9c;
    color:#16a085;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.timeline > li > .timeline-badge {
    color: #FFFF99;
    width: 20px;
    height: 20px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 19px;
    left: 6px;
    background-color: #666666;
    z-index: 2;
    border-radius: 50%;
    border: #cccccc 4px solid;
}
/*
.timeline > li.timeline-inverted > .timeline-panel {
    float: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    right: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
*/
.timeline-badge.primary {
    background-color: #006699  !important;
}
.timeline-badge.up {
    background-color: #339933 !important;
}
.timeline-badge.down {
    background-color: #CC3333 !important;
}
.timeline-badge.neutral {
    background-color: #999999 !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
.timeline-info{
    color:#837E7C;
}
.no-gutter{ cursor: pointer; }
.calendar-month{
    font-size:17px;
    text-align:center !important;
    background:#e74c3c !important;
    color:white !important
}
.calendar{
    width:110px;
    float: left;
    margin: 5px;
    border-radius: 0;
    display:inline-block;
}

.calendar-date{
    display: block;
    padding: 4px;
    /*margin-bottom: 20px;*/
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align:center;
    font-size:26px;
    font-family:impact;
    /*margin-top:-10px;*/
    color:#444444;

}
.empty-message{
    margin-top: 30px;
    margin-left: 45px;
}
.milestone-item{
    width:400px;
    position: relative;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    display: inline-flex;
    margin-bottom: 20px;
}
@media(min-width: 972px){
    .add-milestone{
        position:absolute;
        top:15px;
        left:345px;
    }
}
.milestone-body{
    overflow-wrap: break-word;
}
@media(max-width: 972px){
    .milestone-item{
        width:45%;
        margin-right:20px;
    }
}
@media(max-width: 700px){
    .milestone-item{ width:80%; }
}
.milestone-inner{
    display:inline-block;
    float: left;
    padding-left:15px;
    width: calc(100% - 120px);
}
.milestone-header{
    padding-right:5px;
}
.delete-button{
    position:absolute;
    right:10px;
    top: 5px;
    font-size:1.2em !important;

}
.delete-button:hover{
    -animation: spin .4s .5 linear;
    -webkit-animation: spin2 .4s .5 linear;

}
/*.milestone-item:hover{*/
    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
/*}*/
