/*chat start*/
.msg-wrap-left{
    height: 500px;
    overflow-y: scroll;
    margin-top: 5px;
}
.msg-wrap-right{
    height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.msg-active{
    background-color: #ececec;
}
.new-msg{
    background-color: indianred;
}
.profile-img{
    width: 50px; height: 50px;
}
.conversation:hover{
    background-color: #ececec;
}
.media{
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
}
.media-heading{
    font-weight: 600;
}
.media-body .last-message{
    font-size: 12px;
    line-height: 1.2;
    display: block;
    padding-bottom: 0;
    width: 100%;
    height: calc(12* 1.2* 2px);
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.left-panel {
    width: 30%;
    float: left;
}
@media (min-width: 500px) {
    .left-panel {
        width: 40%;
    }
}
@media (min-width: 1000px){
    .left-panel {
        width: 30%;
    }
}
@media (min-width: 1200px){
    .left-panel {
        width: 25%;
    }
}
.conversation{
    cursor:pointer;
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}
.direct-chat.chat-pane-open .direct-chat-contacts {
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);
}
.direct-chat-messages {
    -webkit-transform: translate(0,  0);
    -ms-transform: translate(0,  0);
    -o-transform: translate(0,  0);
    transform: translate(0,  0);
    padding: 10px;
    height: 300px;
    overflow: auto;
}
.direct-chat-msg, .direct-chat-text {
    display: block;
}
.direct-chat-msg {
    margin-bottom: 10px;
}
.direct-chat-msg:before, .direct-chat-msg:after {
    content: " ";
    display: table;
}
.direct-chat-msg:after {
    clear: both;
}
.direct-chat-messages, .direct-chat-contacts {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #E8E8E8 ;
    border: 1px solid #E8E8E8 ;
    margin: 5px 0 0 50px;
    color: #444;
    display:inline-block;
    overflow: initial !important;
}
.direct-chat-text:after, .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #E8E8E8 ;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}
.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
}
.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
}
.right .direct-chat-text {
    margin-right: 50px;
    color:#ffffff;
    background-color: royalblue;

}
.right a{

    color: #ffff00;

}
.right{
    overflow: initial !important;
}
.right .direct-chat-text:after, .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: royalblue ;
}
.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
}
.top-header{
    margin-top:0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.profile-img.off{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.right-name{
    height:20px;
}